<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12">
            <div class="card-title">
              <h4>Add Daily Terminal Activity</h4>
            </div>
            <%= render 'form', daily_yard_count: @daily_yard_count %>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /# card -->
</div>
