<!--**********************************
Nav header start
***********************************-->
<div class="nav-header">
  <div class="brand-logo">
    <%= link_to 'BoxWhere Analytics', root_path, class: 'logo-abbr brand-title' %>
  </div>
</div>
<!--**********************************
Nav header end
***********************************-->

<!--**********************************
Header start
***********************************-->
<div class="header">
  <div class="header-content clearfix">
    <div class="nav-control">
      <div class="hamburger">
        <span class="toggle-icon"><i class="icon-menu"></i></span>
      </div>
    </div>
    <div class="header-left">
      <div class="input-group icons">
        <div class="input-group-prepend">
          <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="Search Crane Operators" aria-label="Search Dashboard">
        <div class="drop-down   d-md-none">
          <form action="#">
            <input type="text" class="form-control" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
    <div class="header-right">
      <ul class="clearfix">
        <li class="icons dropdown">
          <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
            <span class="activity active"></span>
            <img src="images/user/1.png" height="40" width="40" alt="">
          </div>
          <div class="drop-down dropdown-profile   dropdown-menu">
            <div class="dropdown-content-body">
              <ul>
                <li>Welcome <%= current_user.fname %></li>
                <li>
                  <% link_to 'Profile', edit_user_registration_path %>
                </li>
                <li>
                  <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                </li>

                <hr class="my-2">
                <li>
                  <a href="page-lock.html"><i class="icon-lock"></i> <span>Lock Screen</span></a>
                </li>
                <li>
                  <a href="page-login.html"><i class="icon-key"></i> <span>Logout</span></a>
                </li>
                <li><%= current_user.terminal.terminal %> in <%= current_user.terminal.city %></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--**********************************
Header end ti-comment-alt
***********************************-->
